<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationDefaultAccuracyReducedNSLocationDefaultAccuracyReduced</key>
	<string>We need location access to show you some cool stuff</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need location access to show you some cool stuff</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need location access to show you some cool stuff</string>
	<key>UIAppFonts</key>
	<array>
		<string>Vazir-Thin.ttf</string>
		<string>Vazir-Regular.ttf</string>
		<string>Vazir-Light.ttf</string>
		<string>Vazir-Bold.ttf</string>
		<string>Vazir-Black.ttf</string>
		<string>Vazir-Medium.ttf</string>
	</array>
</dict>
</plist>
